$flip: .3s;

.wrapper{
    position: relative;
    overflow: hidden;
}

.card{
    width: 55px;
    height: 75px;
    
    cursor: pointer;
    position: relative;
    
    border-radius: 5px;
    
    perspective: 500px;
    transform-style: preserve-3d;
    transition: $flip transform;

    
}

.card > span {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    
    border-radius: 5px;
    
    backface-visibility: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.card__front-face{
    background-size: contain;
}

.card__back-face{
    background-size: 100%;
    background-image: url('../../static/sheika_eye.png');
    transform: rotateX(180deg) rotateZ(180deg);
}

.card--flip{
    transform: rotateY(180deg);
}

@media(min-width:700px){
    .card{
        width: 75px;
        height: 95px;
    }
}