.card{
    width: 11%;
    height: 20%;

    background-color: crimson;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.card:nth-child(even){
    background-color: darkkhaki;
}