.card{
    width: 11%;
    height: 20%;
    
    cursor: pointer;
    position: relative;
    transition: .3s linear;
    
    perspective: 500px;
    transform-style: preserve-3d; /**/
}

.card--back-face-flip{
    transform: rotateY(180deg);
}

.card > span {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;

    backface-visibility: hidden;
}

.card__back-face{
    transform: rotateX(180deg);
    background-color: darkolivegreen;
}

.card:nth-child(even) .card__back-face{
    background-color: darkorchid;
}

.card__front-face{
    background-color: darkorange;
}