.game-board{
    width: 100%;
    height: 100%;

    background-color: rgba(33, 33, 33,.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    position: absolute;
    z-index: 5;
}