.game-board{
    width: 350px;
    height: 370px;

    background-color: rgba(33, 33, 33,.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}