.main-section{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../../static/botw_land_scape.jpg');
    background-position: center;
}

.main-section__game-container{
    width: 350px;
    height: 370px;

    position: relative;
}

.main-section__info-box{
    width: 350px;
    height: 70px;

    background-color: rgba(255,255,255,.5);
}

@media(min-width:700px){
    .main-section__game-container{
        width: 490px;
        height: 470px;    
    }

    .main-section__info-box{
        width: 490px;
    }
}